<div class="container">
    <h1>Welcome To-Do List Application</h1>
    <hr>
    <!-- Form to add new To-Do item -->
    <form (ngSubmit)="onSubmit(itemForm)" #itemForm="ngForm">
        <div class="form-group">
            <label for="item">Item</label>
            <!-- Input field for item -->
            <input type="text" class="form-control" id="item" placeholder="Enter item" ngModel name="item" required>
            <!-- Error message for empty item -->
            <small *ngIf="itemForm.controls['item'].invalid && itemForm.controls['item'].touched" id="errorMessage" class="form-text text-danger">Required field</small>
        </div>
        <!-- Button to submit form -->
        <button [disabled]="itemForm.invalid" id="submitButton" type="submit" class="btn btn-primary">Add Item</button>
    </form>
    <hr>
    <!-- Table to display To-Do items -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Completed</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through itemArray to display items -->
            <tr *ngFor="let item of itemArray; let i = index">
                <!-- Display item name -->
                <td [ngClass]="{'completed-item': item.isCompleted}">{{item.itemName}}</td>
                <!-- Checkbox to mark item as completed -->
                <td><input (change)="onCheck(i)" type="checkbox" [checked]="item.isCompleted"></td>
                <!-- Button to delete item -->
                <td><button class="btn btn-danger btn-sm" (click)="onDelete(i)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
